* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    background-image: url('img/bg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.nav-section {
    background-color: lightskyblue;
    height: 70px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    border-bottom: 1px solid orange;
}

.logo {
    font-family: 'Skranji', sans-serif;
    line-height: 70px;
    margin-left: 6%;
    font-size: 20px;
    color: white;
    transition: color 0.5s;
}

.logo span {
    color: orange;
}

.logo:hover {
    color: orange;
}

.menu {
    display: flex;
    line-height: 70px;
    margin-right: 6%;
}

.menu ul a {
    margin-left: 25px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Skranji', sans-serif;
    color: white;
    transition: color 0.5s;
}

.menu ul a:hover {
    color: orange;
}

.checkbtn {
    font-size: 30px;
    line-height: 70px;
    color: white;
    margin-right: 7%;
    display: none;
    cursor: pointer;
    transition: color 0.5s;
}

.checkbtn:hover {
    color: orange;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    .logo {
        margin-left: 50px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    .logo{
        margin-left: 7%;
    }

    .menu {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: #13647a;
        margin-top: 70px;
        left: -100%;
        display: block;
        text-align: center;
        line-height: 20px;
        transition: all .7s;
    }

    .menu ul {
        margin-top: 20px;
    }

    #check:checked ~ .menu {
        left: 0;
    }

}

.main {
    width: 29%;
    margin-top: 5%;
    margin-left: 10%;
    font-family: 'Skranji', sans-serif;
}

.submit {
    padding: 7px;
    margin-top: 30px;
    background-color: orange;
    color: white;
    border: none;
    font-size: 20px;
    border: 2px solid orange;
    transition: background 0.5s;
}

.submit:hover {
    color: orange;
    background-color: white;
}

.prd-name {
    margin-top: 20px;
}

input[type="text"] {
    width: 250px;
    height: 30px;
    padding-left: 5px;
    border: none;
    border-bottom: 2px solid lightgray;
    background-color: transparent;
    outline: none;
    margin: 10px;
}

.category {
    width: 250px;
    height: 30px;
    padding-left: 5px;
    margin-left: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid lightgray;
    text-transform: uppercase;
    margin: 10px;
}

input[type="file"] {
    margin: 10px;
}

@media (max-width: 858px){
    .submit{
        padding: 6px;
        font-size: 18px;
    }
    .prd-name {
    margin-top: 18px;
    }
    .category{
        width: 200px;
    }
    input[type="text"] {
        width: 200px;
    }
}

@media (max-width: 600px){
    .main{
        margin: auto;
        width: 100%;
        padding: 0 2%;
        justify-content: center;
    }
    .main table{
        margin: auto;
    }
    .category{
        width: 200px;
    }
}


